.logo_{
    font-family: 'Cinzel',serif;
    font-size: 1.2vw;
    color:#ffffff;
}
.logo_ > img, .logo_>p {
    float: left;
}

#logo:hover{
    text-decoration: none;
    color: white;
}

.nav .navbar-nav > li{
    margin: 2%;
}
.navbar-default .navbar-header{
    margin: 1% 4%;
}
.navbar-default {
    background-color: rgba(0,0,0,0.95);
    border-color: rgba(255,255,255,0.15);
    height: 10%;
}

.navbar-default .navbar-brand {
    color: #777;
    margin: 3%;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5e5e5e;
    background-color: transparent;
}
.navbar-default .navbar-text {
    color: #777;
}
.navbar-default .navbar-nav{
    margin-left: 5%;
}
.navbar-default .navbar-nav > li{
    margin: 2% 10px;
}
.navbar-default .navbar-nav > li > a {
    color: #ffffff;
    font-family: 'Cinzel',serif;
    font-size: 1.3vw;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color:#ffffff;
    font-weight: bold;
    transition: .6s ease-in-out;
    transform: scale(1.4);

}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: transparent;

}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
}
.navbar-default .navbar-toggle {
    border-color: #ddd;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #ddd;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #e7e7e7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #e7e7e7;
}

.navbar-default .navbar-right{
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: -30px;
    margin-right: -10px;
}

.navbar-sticky {
    background-color: rgba(0,0,0,0.95);
}

.dropdown-menu {
    position: absolute;
    top: 150%;
    left: -65%;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 200px;
    padding: 5px 0;
    margin: 2px 0 0;
    text-align: left;
    list-style: none;
    background-color: rgba(0,0,0,0.95);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    width: 980px !important;
    height: 50px !important;
}
.dropdown-menu.pull-right {
    right: 0;
    left: auto;
}
.dropdown-menu > li {
    position: relative;
    float: left;

}
.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #ffffff;
    white-space: nowrap;
    font-family: 'Cinzel', serif;
    font-size: 1.2vw;
    margin-left: 20px;
    margin-right: 20px;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    color: #ffffff;
    font-weight: bold;
    transform: scale(1.4);
    text-decoration: none;
    background-color: transparent;
    transition: .6s ease-in-out;
}
